body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.15s ease;
  word-spacing: 1.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* import truetype fonts */
@import './fonts/fonts.css';

/* overriding elements style */
form {
  display: grid;
  row-gap: 20px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* css */
.main-container {
  max-width: 1140px;
  margin: 0 auto;
}

.block-container {
  padding: 20px 0;
}

@media screen and (max-width: 1200px) {
  .main-container {
    padding: 0px 20px;
  }
}

.alert-danger {
  color: red;
}

.alert-success {
  color: green;
}

.btn {
  border: 2px solid;
}
.btn-delete {
  background: red;
  color: white;
  padding: 10px;
}

.social-link-toggle {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  background: black;
  color: white;
}

.profile-update-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile-skills {
  list-style-position: inside;
}
